* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
}

.hero {
    height: 60%;
    padding: 20%;
    background-color: #222222;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.hero-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-text {
    color: white;
    font-family: 'League Mono', sans-serif;
    font-size: 2.75em;
    font-weight: 300;
}

.hero-text>strong {
    font-weight: 600;
}

.hero-img {
    width: 50%;
}

.hero-buttons {
    display: flex;
    padding-top: 7.5%;
}

.button {
    display: block;
    margin: 0 20px;
    padding: 14px 40px;
    color: #3B3B3B;
    background-color: #FDFDFD;
    font-family: 'Inter', sans-serif;
    font-size: 1.2em;
    text-decoration: none;
    text-align: center;
    border: 1px solid #FDFDFD;
    border-radius: 5px;
    transition: 0.25s ease-in-out;
    outline: 0;
    cursor: pointer;
}

.button.inverted {
    color: #FDFDFD;
    background-color: #222222;
}

.button:hover {
    background-color: #e9e9e9;
}

.button.inverted:hover {
    background-color: #e9e9e9;
    color: #3B3B3B;
}

.card {
    padding: 5% 20%;
    height: min-content;
    display: flex;
    justify-content: space-between;
}

.card-img {
    width: 40%;
    transform: translatey(0px);
}

.card.first {
    background-color: #F8F8F8;
}

.card.first>img {
    animation: float1 8s ease-in-out infinite;
}

.card.second {
    background-color: #D0DDF0;
}

.card.card.second>img {
    animation: float2 8s ease-in-out infinite;
}

.desc {
    width: 50%;
}

.desc>h2 {
    color: #2D425E;
    font-family: 'League Mono', sans-serif;
    font-size: 2.75em;
    font-weight: 300;
}

.desc>p {
    color: #213146;
    padding: 5% 0;
    font-family: 'Inter', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
}

@media screen and (max-width: 1800px) {
    .button {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 1475px) {
    .hero-text, .desc>h2 {
        font-size: 2.5em;
    }
    .desc>p {
        font-size: 1.3em;
    }
}

@media screen and (max-width: 1280px) {
    .hero {
        padding: 20% 5vw;
    }
    .hero-text, .desc>h2 {
        font-size: 2em;
    }
    .desc>p {
        font-size: 1.3em;
    }
    .card {
        padding: 5% 5vw;
    }
    .hero-img, .card-img {
        width: 30%;
    }
}

@media screen and (max-width: 800px) {
    .hero {
        height: min-content;
        padding: 12.5% 5vw;
    }
    .hero-buttons {
        display: block;
    }
    .hero-buttons>* {
        margin: 5% 0;
    }
}

@media screen and (max-width: 600px) {

    .hero {
        display: block;
        height: min-content;
        padding: 0 5%;
    }

    .hero-main {
        display: block;
        padding: 22.5% 0 5% 0;
    }

    .hero-text {
        text-align: center;
        padding-bottom: 5%;
    }

    .hero-img {
        display: block;
        margin: 5% auto;
        padding: 0;
        width: 60%;
    }

    .hero-buttons {
        padding: 0 0 10% 0;
    }
    
    .button {
        font-size: 1.1em;
        padding: 5% 0;
    }

    .card.first {
        flex-direction: column;
        width: 100%;
        padding: 7.5%;
    }

    .card-img {
        display: block;
        width: 60%;
        margin: 7.5% auto;
    }

    .desc {
        width: 100%;
    }

    .desc > h2 {
        /* text-align: center; */
        font-size: 1.55em;
    }

    .desc > p {
        text-align: justify;
        font-size: 1.1em;
    }


    .card.second {
        flex-direction: column-reverse;
        width: 100%;
        padding: 5%;
    }
}

@keyframes float1 {
    0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(4px);
    }
    50% {
        transform: translateY(-4px);
    }
    75% {
        transform: translateY(6px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes float2 {
    0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(6px);
    }
    50% {
        transform: translateY(-4px);
    }
    75% {
        transform: translateY(4px);
    }
    100% {
        transform: translateY(0px);
    }
}